terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/variables.tfvars
terraform/.terraform.lock.hcl
terraform/dev.tfvars
build/
Makefile
pr09-aws-serverless-ai-assistant.md
requirements.md
go/build/
go/vendor/
bootstrap
blog_post/
.env
posts/
project_structure.md
python/
content/
backend.hcl
data/
go/cmd/test